body {
	font-family: verdana, arial, sans-serif;
	font-size: 9pt;
}

h1 {
	color: gray;
	font-size: 1.5em;
	border-left: 25px solid darkblue;
	border-bottom: 1px solid darkblue;
	padding: 0 0 2px 5px;
}

h2 {
	color: #6BB9FF;
	font-size: 1.3em;
	margin: 1ex 0;
}
h3 {
	color: darkblue;
	font-size: 1.3em;
	margin: 1ex 0;
}
h4 {
	color: #6D9D2E;
	font-size: 1.3em;
	margin: 1ex 0;
}

pre {
	text-align: left;
	background-color: #fff;
	border-left: 1px solid #aaa;
	padding: 5px;
}